<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://postgres:5432/users_and_shorts_db</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">password</property>

		<!-- Disable SSL if unnecessary in the cluster -->
		<property name="hibernate.connection.ssl">false</property>

		<!-- Hibernate dialect for PostgreSQL -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- JDBC connection pool settings -->
		<property name="connection.pool_size">64</property>

		<!-- Echo SQL to stdout (useful for debugging) -->
		<property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>

		<!-- Schema generation strategy -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Apache DBCP connection pool configuration -->
		<property name="hibernate.dbcp.initialSize">5</property>
		<property name="hibernate.dbcp.maxTotal">20</property>
		<property name="hibernate.dbcp.maxIdle">10</property>
		<property name="hibernate.dbcp.minIdle">5</property>
		<property name="hibernate.dbcp.maxWaitMillis">-1</property>

		<!-- Class mappings -->
		<mapping class="tukano.api.User" />
		<mapping class="tukano.api.Short" />
		<mapping class="tukano.impl.data.Following" />
		<mapping class="tukano.impl.data.Likes" />
	</session-factory>
</hibernate-configuration>
